@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(square) {
  0% {
    width: 40px;
    height: 40px;
    opacity: 1;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

@mixin animation($str) {
  animation: #{$str};
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin stop-anim {
  animation: none;
  border: none;
}

@mixin burger-line {
  position: absolute;
  background-image: linear-gradient(to right, map-get($colors, extra-color) 50%, map-get($colors, main-color) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  width: 70%;
  height: 6%;
  right: 0;
  transition: all 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  background: #010319;
  overflow: hidden;

  .wrapper {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;

    .burger-menu {
      cursor: pointer;
      display: block;
      width: 55px;
      height: 40px;
      position: fixed;
      top: 7vh;
      right: 5vw;
      z-index: 4;

      .menu-line {
        @include burger-line;
        top: 50%;
        width: 55%;
        transform: scale(1) translate(0px, -50%);

        &._activ {
          transform: scale(0);
        }
      }

      &::before {
        @include burger-line;
        content: "";
        top: 20%;
        transition: all 0.3s;
      }

      &::after {
        @include burger-line;
        content: "";
        bottom: 20%;
        transition: all 0.7s;
      }

      &._activ::before {
        transition: all 0.5s;
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }

      &._activ::after {
        transition: all 0.5s;
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }

      &:hover::before,
      &:hover .menu-line,
      &:hover::after {
        background-position: 0%;
      }
    }

    .header-navbar {
      text-align: left;
      font-size: 1.1rem;
      padding: 5px 0px 0px 0px;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 3;
      overflow: auto;
      left: 100%;
      transition: all 1s ease 0s;

      &._activ {
        left: 0;
      }
    }

    .slider {
      display: flex;

      .slider-line {
        position: relative;
        width: 100%;
        transition: all ease 1s;

        .slide {
          height: 100vh;

          .content {
            height: 100vh;
            min-width: 60vw;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
              color: map-get($colors, main-color);
              font-size: 70px;
              font-weight: 300;
              text-shadow: map-get($colors, extra-color) 2px -2px 4px, rgb(67, 35, 246) -2px -3px 6px;

              .world {
                color: map-get($colors, extra-color);
              }
            }
          }
        }
      }
    }

    .slider-dots {
      position: absolute;
      top: 50%;
      left: 5%;
      z-index: 2;
      width: 50px;
      text-align: center;
      transform: translate(-5%, -50%);

      .dot {
        width: 9px;
        height: 9px;
        display: block;
        background: map-get($colors, main-color);
        margin: 50% auto;
        cursor: pointer;

        &:hover {
          background: map-get($colors, extra-color);
        }

        &.active {
          background: map-get($colors, extra-color);
          width: 11px;
          height: 11px;

          &::after {
            content: "";
            position: relative;
            display: block;
            width: 21px;
            height: 21px;
            border: 1px solid map-get($colors, main-color);
            transform: translate(-25%, -25%);
          }
        }
      }
    }

    .button-slider-next {
      @include position-center;
      cursor: pointer;
      position: absolute;
      top: 90%;
      z-index: 2;
      padding: 10px;
      width: 50px;
      height: 50px;
      font-size: 24px;
      background: map-get($colors , bg-color);
      border: none;

      &::before {
        @include position-center;
        content: "";
        width: 35px;
        height: 35px;
        border: 1px solid map-get($colors, main-color);
        box-shadow: 0 0 60px rgba(123, 104, 238, 0.5);
        transition: all 0.5s ease-in-out 0s;
      }

      &::after {
        @include position-center;
        @include animation('square 1.5s infinite');
        content: "";
        border: 2px solid map-get($colors, extra-color);
      }

      &.stop-anim::after {
        @include stop-anim;
      }

      &:hover::after {
        @include stop-anim;
      }

      &:hover::before {
        width: 60px;
        height: 60px;
      }

      .button-border-svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: map-get($colors, main-color);
        stroke-width: 3px;
        stroke-dasharray: 150 300;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;

        &:hover {
          stroke-dashoffset: -300;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {

  html,
  body {
    .wrapper {
      .slider {
        .slider-line {
          .slide {
            .content {
              height: 40vh;
              width: 100vw;

              h1 {
                font-size: 60px;
              }
            }
          }
        }
      }
    }
  }
}