@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
}

@include keyframes(square) {
  0% {
    width: 40px;
    height: 40px;
    opacity: 1;
  }

  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@include keyframes(loader) {
  0% {
    transform: translateZ(-70px);
    width: 80%;
    height: 80%;
  }

  25% {
    transform: translateZ(70px);
    width: 80%;
    height: 80%;
  }

  50% {
    transform: translateZ(70px);
    width: 40%;
    height: 40%;
  }

  75% {
    transform: translateZ(-70px);
    width: 40%;
    height: 40%;
  }

  100% {
    transform: translateZ(-70px);
    width: 80%;
    height: 80%;
  }
}


@include keyframes(border) {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@include keyframes(anim-dot) {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

@include keyframes(circle-line) {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin stop-anim {
  animation: none;
  border: none;
}

@mixin burger-line {
  position: absolute;
  background-image: linear-gradient(to right, map-get($colors, extra-color) 50%, map-get($colors, main-color) 50%);
  background-size: 200% 100%;
  background-position: 100%;
  width: 70%;
  height: 6%;
  right: 0;
  transition: all 0.5s;
}

@mixin button-light {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 4px;
  background-color: map-get($colors, extra-color);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(123, 104, 238),
    0 0 15px rgb(123, 104, 238),
    0 0 30px rgb(123, 104, 238),
    0 0 60px rgb(123, 104, 238);
  transition: 0.5s;
  transition-delay: 0.5s;
}

@mixin button-light-hover {
  height: 50%;
  width: 100%;
  border-radius: 0;
  transition-delay: 0.3s;
}

@mixin rainbow-border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff0, #0f0, #00f, #f00, #0f0, #ff0);
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 1.8vw;
  letter-spacing: 1px;
  height: 100%;
  background: map-get($colors , bg-color);
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.preloader-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#062444, #010319);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .preloader {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateY(30deg);

    div {
      position: absolute;
      border: 15px solid #ffffff;
      box-shadow: -7px 0 0 #9b9b9b,
        inset -7px 0 0 #9b9b9b;
      @include animation('loader 6s ease-in-out infinite');

      &:nth-child(1) {
        animation-delay: 0;
      }

      &:nth-child(2) {
        animation-delay: 2s;
      }

      &:nth-child(3) {
        animation-delay: 4s;
      }
    }
  }

  &._slow {
    transition: 1s opacity;
    opacity: 0;
  }

  &._hidden {
    display: none;
  }

  .progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 4px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 5;

    .progress-line {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 4px;
      background-color: #7b68ee;
      border-radius: 4px;
      z-index: 3;
      transition: width 0.3s;
    }
  }
}

.burger-menu {
  cursor: pointer;
  display: block;
  width: 55px;
  height: 40px;
  position: fixed;
  top: 5vh;
  right: 3%;
  z-index: 4;

  .menu-line {
    @include burger-line;
    top: 50%;
    width: 55%;
    transform: scale(1) translate(0px, -50%);

    &._activ {
      transform: scale(0);
    }
  }

  &::before {
    @include burger-line;
    content: "";
    top: 20%;
    transition: all 0.3s;
  }

  &::after {
    @include burger-line;
    content: "";
    bottom: 20%;
    transition: all 0.7s;
  }

  &._activ::before {
    transition: all 0.5s;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  &._activ::after {
    transition: all 0.5s;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  &:hover::before,
  &:hover .menu-line,
  &:hover::after {
    background-position: 0%;
  }
}

.header-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5vw;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 0, 17, 0.9);
  z-index: 3;
  overflow: hidden;
  transition: all 1s ease 0s;

  &._activ {
    left: 0;
  }

  ul {
    position: relative;

    &:hover li a {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  li {
    text-align: center;
    list-style: none;

    &:hover .nav-link {
      color: #000;
    }

    &:nth-child(1):hover .nav-link::before {
      background-color: #73d5d5;
    }

    &:nth-child(2):hover .nav-link::before {
      background-color: #ffa34e;
    }

    &:nth-child(3):hover .nav-link::before {
      background-color: #a29bfe;
    }

    &:nth-child(4):hover .nav-link::before {
      background-color: #fae162;
    }

    &:nth-child(5):hover .nav-link::before {
      background-color: #5ae167;
    }

    .nav-link {
      color: rgb(255, 255, 255);
      z-index: 3;
      text-decoration: none;
      font-weight: 600;
      display: inline-block;

      &::before {
        content: '';
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fff;
        position: absolute;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14vw;
        text-transform: uppercase;
        z-index: -1;
        opacity: 0;
        letter-spacing: 200px;
        transition: letter-spacing 0.5s;
      }

      &:hover::before {
        content: attr(data-text);
        opacity: 1;
        letter-spacing: 10px;
        width: 100vw;
        height: 100vh;
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  transition: all ease 1s;

  .slide {
    height: 100vh;
    display: flex;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 90vw;
      position: absolute;
      margin-left: 4%;



      &.first-slide {
        font-family: $extra-font;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .follow-me {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);

          a {
            margin-bottom: 1vw;

            img:hover {
              filter: invert(65%) sepia(17%) saturate(6355%) hue-rotate(227deg) brightness(97%) contrast(92%);
            }
          }
        }
      }

      h1 {
        color: map-get($colors, extra-color);
        font-size: 3.7vw;
        font-weight: 300;
        text-shadow: map-get($colors, extra-color) 2px -2px 4px, #4323f6 -2px -3px 6px;

        span {
          color: map-get($colors, main-color);
        }
      }

      .hi {
        font-weight: 400;
        font-size: 3vw;
        color: #fff;
      }

      .specialty {
        color: map-get($colors, main-color);
      }

      .button-learn {
        cursor: pointer;
        position: relative;
        font-family: $main-font;
        width: 156px;
        height: 45px;
        margin-top: 25px;

        a {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2vw;
          font-weight: 200;
          background-color: rgba(255, 255, 255, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
          color: map-get($colors , main-color);
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          border-left: none;
          border-right: none;
          letter-spacing: 1px;
          overflow: hidden;
          text-decoration: none;
          transition: 0.5s;
          backdrop-filter: blur(15px);
          z-index: 2;

          &:hover {
            letter-spacing: 3px;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
            transform: skew(45deg) translateX(0);
            transition: 0.5s;
          }

          &:hover::before {
            transform: skew(45deg) translateX(200px);
          }
        }

        &::before {
          @include button-light;
          top: -1px;
        }

        &:hover::before {
          @include button-light-hover;
          top: 0;
        }

        &::after {
          @include button-light;
          bottom: -1px;
        }

        &:hover::after {
          @include button-light-hover;
          bottom: 0;
        }
      }

      .content-title {
        position: relative;

        h2 {
          letter-spacing: 5px;
          font-size: 11vw;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.2);
          text-align: center;
          line-height: 10.5vw;
        }

        h3 {
          color: map-get($colors, main-color);
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -70%);
          font-weight: 600;
        }
      }

      .introduction {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;
        font-size: 15px;
        font-weight: 200;

        .my-photo {
          img {
            width: 250px;
          }
        }

        .introduction-text {
          text-align: justify;
          width: 60%;

          p {
            margin-bottom: 6px;

            span {
              font-weight: 600;
              color: #ff8000;
            }
          }
        }
      }

      .portfolio {
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 260px));
        grid-template-rows: repeat(2, minmax(150px, 1fr));
        //  grid-auto-flow: dense;
        grid-gap: 20px;
        grid-template-areas:
          "blockchain blockchain developers adverting"
          "blockchain blockchain pizza adverting";

        .website {
          display: grid;
          place-items: center;
          text-align: center;
          position: relative;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

          &::before {
            @include rainbow-border;
            border-radius: 4px;
          }

          &::after {
            @include rainbow-border;
            filter: blur(15px);
          }


          &:hover::after,
          &:hover::before {
            @include animation('border 20s linear infinite');
            opacity: 1;
          }

          &.blockchain {
            grid-area: blockchain;
            .website-wrap{
              background: url('./../img/blockchain.jpg') left 35%/cover no-repeat;
            }
          }

          &.developers {
            grid-area: developers;

            .website-wrap {
              background: url('./../img/developers.jpg') left 35%/cover no-repeat;
            }
          }

          &.pizza {
            grid-area: pizza;

            .website-wrap {
              background: url('./../img/pizza-house.jpg') left top/cover no-repeat;
            }
          }

          &.adverting {
            grid-area: adverting;

            .website-wrap {
              background: url('./../img/adverting.jpg') left 35%/cover no-repeat;
            }
          }

          .website-wrap{
            position: absolute;
            display: block;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            z-index: 1;
            border-radius: 4px;


            &::before{
              content: "";
              position: absolute;
              top:0;
              left:0;
              width: 100%;
              height: 100%;
              transition: all 0.5s;
            }
            
            &:hover::before{
              background-color: rgba(0, 0, 0, 0.2);
              backdrop-filter: blur(4px);            
            }

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 6vw;
              height: 6vw;
              border: 5px solid rgba(255, 255, 255, 0.3);
              background-color: rgb(96, 70, 182, 0.5);
              opacity: 0;
              transition: all 0.5s;

              svg{
                width: 65%;
                fill: #fff;
                transition: all 0.3s;
              }

              &:hover svg{
                fill: #000000;
            }
            }

            &:hover a{
              opacity: 1;
            }
          }
        }
      }

      .progress-bar{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 60vw;

        .card{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 220px;
          height: 160px;
          font-size: 14px;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.07);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(255, 255, 255, 0.1);

          .percent{
            position: relative;
            width: 126px;
            height: 126px;

            .perscent-dot{
              position: absolute;
              inset: 3px;
              z-index: 4;


              &.anim{
                @include animation('anim-dot 2s linear forwards 0.8s');
              }
              
              
              &::before{
                content: "";
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translate(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #7b68ee;
                box-shadow: 0 0 10px #7b68ee, 0 0 30px;
              }
            }

            .progress-circle{
              position: relative;
              width: 126px;
              height: 126px;
              transform: rotate(270deg);

              circle{
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke-width: 2;
                stroke: #2c2c2c;
                transform: translate(3px, 3px);

                &:nth-child(2){
                  stroke: #7b68ee;
                  opacity: 0;
                  stroke-dasharray: 377;
                  stroke-dashoffset: calc(377 - (377 * var(--num))/100);
                }
              }
            }

            .anim{
              circle{
                &:nth-child(2){
                  @include animation('circle-line 1s linear forwards 3s');
              }
            }
          }

            .skill{
              position: absolute;
              opacity: 0;
              inset:0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: #fff;
              @include animation('circle-line 1s linear forwards 2.5s');

              h3{
                display: flex;
                justify-content: center;
                align-items: center;

                span{
                  font-weight: 200;
                  font-size: 12px;
                }
              }
            }

           
          }
        }

      }




    }
  }
}

.slider-dots {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 2;
  width: 50px;
  text-align: center;
  transform: translate(-5%, -50%);

  .dot {
    width: 9px;
    height: 9px;
    display: block;
    background: map-get($colors, main-color);
    margin: 50% auto;
    cursor: pointer;

    &:hover {
      background: map-get($colors, extra-color);
    }

    &.active {
      background: map-get($colors, extra-color);
      width: 11px;
      height: 11px;

      &::after {
        content: "";
        position: relative;
        display: block;
        width: 21px;
        height: 21px;
        border: 1px solid map-get($colors, main-color);
        transform: translate(-25%, -25%);
      }
    }
  }
}

.button-slider-next {
  @include position-center;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90%;
  z-index: 2;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  background: map-get($colors , button-color);
  border: none;

  &::before {
    @include position-center;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid map-get($colors, main-color);
    box-shadow: 0 0 60px rgba(123, 104, 238, 0.5);
    transition: all 0.5s ease-in-out 0s;
  }

  &::after {
    @include position-center;
    @include animation('square 1.5s infinite');
    content: "";
    border: 2px solid map-get($colors, extra-color);
  }

  &.stop-anim::after {
    @include stop-anim;
  }

  &:hover::after {
    @include stop-anim;
  }

  &:hover::before {
    width: 50px;
    height: 50px;
  }

}




@media screen and (max-width: 900px) {

  .header-navbar {
    font-size: 10.5vw;

    ul{
      padding-top: 30px;
      li {
        .nav-link {
          padding-top: 4vw;
          padding-bottom: 4vw;
        }
      }
    }


  }

  .slider {
    .slide {
      .content {
        width: 87vw;
        &.first-slide {
          margin-left: 7%;
          width: 82vw;
          padding-top: 20%;
          justify-content: flex-start;

          .follow-me {
            a {
              margin-bottom: 4vw;
            }
          }
        }

        .hi {
          font-size: 6vw;
          margin-bottom: 1vw;
        }

        .specialty {
          font-size: 4.5vw;
        }

        .button-learn {
          width: 110px;
          height: 35px;
          a{
            font-size: 3vw;
          }
        }

        h1 {
          font-size: 8vw;
          margin-bottom: 1vw;
        }

        .content-title {
          margin-top: 20px;

          h2 {
            font-size: 11vw;
            letter-spacing: 3px;
          }

          h3 {
            font-size: 3.5vw;
            width: 100%;
            text-align: center;
          }
        }

        .introduction {
          flex-wrap: wrap;
          margin-top: 10px;
          font-size: 12px;

          .my-photo {
            img {
              width: 150px;
              margin-bottom: 15px;
            }
          }
  
          .introduction-text {
            width: 90%;
  
            p {
              margin-bottom: 6px;
  
              span {
                font-weight: 600;
                color: #ff8000;
              }
            }
          }
        }


        .portfolio {
          margin-top: 3vw;
          width: 48vw;
          height: 70vh;
          grid-template-areas: none;
          grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
          grid-template-rows: minmax(auto, auto);

          .website {
            grid-column: unset !important;
            grid-row: unset !important;

            .website-wrap{
              a {
                width: 100%;
                height: 100%;
                border-radius: 0;
                border: none;

                svg{
                  width: 30%;
                }
              }

              &:hover::before{
                backdrop-filter: blur(1px);           
               }
            }
          }
        }

        .progress-bar{
          margin-top: 30px;
          gap: 10px;
          max-width: 86vw;
  
          .card{
            width: 140px;
            height: 156px;
          }
        }


        
      }
    }
  }

  .slider-dots {
    left: 0;
  }

  .button-slider-next {
    top: 93%;
}
}