$colors:(
    bg-color: #010319,
    main-color: #fff,
    extra-color: #7b68ee,
    button-color: rgba(123, 104, 238, 0.2)
);

$main-font: 'Poppins', sans-serif;;
$extra-font: 'Poiret One', cursive;
